.main
  display flex
  flex-direction column
  height 100vh
  background-color: #f5f5f5


  .wrapper
    width 7.2rem
    overflow-y auto
    margin 0 auto
    background-color: #fff

    .center
      width inherit
      height 1.6rem
      display flex
      background url("https://m.mi.com/static/img/bg.63c8e19851.png") center 0 #f37d0f
      background-size auto 100%
      align-items center

      .header
        width 1rem
        height 1rem
        border 2px solid hsla(0, 0%, 100%, .4)
        border-radius 50%
        display flex
        justify-content center
        align-items center
        margin-left .3rem
        margin-right .1rem

        .img-wrapper
          width 95%
          height 95%

          img
            width 100%
            height 100%


      .log-reg
        color: #fff
        font-size .24rem


    .order
      width inherit
      height .8rem
      box-sizing border-box
      background-color: #fff
      display flex
      flex row
      justify-content space-between
      align-items center
      padding 0 .32rem
      border-bottom .05rem solid #f5f5f5
      margin-top .1rem

      .left
        font-size .28rem
        color rgba(0, 0, 0, .87)

      .right
        font-size .24rem
        color rgba(0, 0, 0, .87)
        display flex
        flex-direction row
        align-items center

        .icon-right
          margin-left .1rem


    .pay-list
      width inherit
      height 1.609rem
      box-sizing border-box
      display flex
      flex-direction row
      align-items center
      justify-content space-between
      padding 0 .3rem
      border-bottom .1rem solid #f5f5f5

      .item
        flex 1 0 33.3%
        height inherit
        display flex
        flex-direction column
        justify-content center
        align-items center
        text-align center

        .icon
          width .48rem
          height .48rem

          .img-wrapper
            width inherit
            height inherit

            img
              width 100%
              height 100%

        .info
          color rgba(0, 0, 0, .87)
          font-size 0.2159rem
          margin-top .1rem


    .service
      width: 7.2rem
      height 2.08rem
      border-bottom .1rem solid #f5f5f5

      ul
        display flex
        flex-direction column
        list-style none

        li
          display flex
          flex-direction row

          .left
            width 15%
            height 1.04rem
            display flex
            align-items center
            justify-content center

            .img-wrapper
              width 70%
              height 70%

              img
                width 100%
                height 100%

          .right
            flex 1
            display flex
            flex-direction row
            justify-content space-between
            align-items center
            padding-left .2rem
            color rgba(0, 0, 0, .87)
            font-size .322rem
            border-bottom: 1px solid rgba(0, 0, 0, .15);

            .icon-right
              padding-right .5rem


    .last-service
      height 1.04rem

  .mine-bottom
    width 100%
    height: 1rem
    display flex
    position fixed
    bottom 0
    background-color: #fff

    ul
      flex 1
      height inherit
      list-style none
      display: flex
      flex-direction row
      align-items center

      li
        flex 1
        height inherit
        text-align center
        font-size .22rem
        color #999
        box-sizing border-box
        padding-top .15rem

        span
          margin-bottom .1rem
          display block
          text-align center
          font-size .4rem


