.main
  display flex
  flex-direction column

  .wrapper
    width 7.2rem
    margin 0 auto
    height 90vh
    overflow-y auto

    .title
      width 7.2rem
      height 3.6rem

      .img-wrapper
        width 100%
        height 100%

        img
          width 100%
          height 100%

    .middle
      width 7.2rem
      height 2.66rem

      .img-wrapper
        width 100%
        height 100%

        img
          width 100%
          height 100%

    .bottom
      width 7.2rem
      height 4.66rem

      .img-wrapper
        width 100%
        height 100%

        img
          width 100%
          height 100%

    .select
      width 7.2rem
      height .71rem

      .img-wrapper
        width 100%
        height 100%

        img
          width 100%
          height 100%

    .kong
      width 7.2rem
      height 1rem
      background-color rgb(245,245,245)


  .fixed-bottom
    width 100%
    height 1.50rem
    position fixed
    bottom 0

    .bottom-wrapper
      margin 0 auto
      width 7.2rem
      height inherit
      .img-wrapper
        width inherit
        height inherit
        img
          width 100%
          height 100%

