.main {
  display: flex;
  flex-direction: column;
}
.main .title-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
}
.main .title-wrapper .title {
  flex: 1;
  height: 1rem;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main .title-wrapper .title .left {
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.2rem;
  text-align: center;
  display: flex;
  align-items: center;
}
.main .title-wrapper .title .left .icon-left {
  font-size: 0.4rem;
  line-height: 0.4rem;
}
.main .title-wrapper .title .theme {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.2994rem;
}
.main .title-wrapper .title .right {
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.3rem;
  text-align: center;
}
.main .title-wrapper .title .right .icon-search {
  font-size: 0.5rem;
  line-height: 0.5rem;
  font-weight: 700;
}
.main .wrapper {
  width: 7.2rem;
  height: 80vh;
  padding-top: 1rem;
  margin: 0 auto;
  overflow-y: auto;
}
.main .wrapper .login-wrapper {
  height: 1.04rem;
  width: 7.2rem;
  padding-left: 0.56rem;
  padding-right: 0.56rem;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main .wrapper .login-wrapper .left {
  font-size: 0.32rem;
  text-align: center;
}
.main .wrapper .login-wrapper .right {
  font-size: 0.24rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: rgba(0,0,0,0.54);
}
.main .wrapper .shopcar-wrapper {
  width: 7.2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 1.3rem;
  padding: 0.2rem;
  align-items: center;
  background-color: #ebebeb;
  box-sizing: border-box;
}
.main .wrapper .shopcar-wrapper .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.24rem;
  color: rgba(0,0,0,0.27);
  padding: 0.3rem;
}
.main .wrapper .shopcar-wrapper .left .icon-shopcarkong {
  font-size: 0.8rem;
  padding-right: 0.2rem;
}
.main .wrapper .shopcar-wrapper .right {
  font-size: 0.27rem;
  line-height: 0.3rem;
  border: 1px solid rgba(0,0,0,0.15);
  padding: 0.1rem 0.2rem;
}
.main .wrapper .guess-like {
  width: 7.2rem;
  height: 1.2rem;
  margin: 0 auto;
  margin-top: 0.02rem;
}
.main .wrapper .guess-like .img-wrapper {
  width: inherit;
  height: inherit;
}
.main .wrapper .guess-like .img-wrapper img {
  width: 100%;
  height: 100%;
}
.main .wrapper .item-wrapper {
  width: 7.2rem;
  margin: 0 auto;
  margin-top: 0.1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.main .wrapper .item-wrapper .item {
  flex: 0 1 49.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .wrapper .item-wrapper .item .img-wrapper {
  width: 3.354rem;
  height: 3.564rem;
}
.main .wrapper .item-wrapper .item .img-wrapper img {
  width: 100%;
  height: 100%;
}
.main .wrapper .item-wrapper .item .info {
  text-align: center;
  font-size: 0.28rem;
  text-overflow: ellipsis;
  margin-top: 0.1rem;
}
.main .wrapper .item-wrapper .item .info .price {
  color: #ff6700;
  margin-top: 0.1rem;
  text-align: left;
}
.main .shopcar-bottom {
  width: 100%;
  height: 1rem;
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: #fff;
}
.main .shopcar-bottom ul {
  flex: 1;
  height: inherit;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main .shopcar-bottom ul li {
  flex: 1;
  height: inherit;
  text-align: center;
  font-size: 0.22rem;
  color: #999;
  box-sizing: border-box;
  padding-top: 0.15rem;
}
.main .shopcar-bottom ul li span {
  margin-bottom: 0.1rem;
  display: block;
  text-align: center;
  font-size: 0.4rem;
}
